<header>
    <div class="overlay">
        <h1>Books</h1>
        <p>
            Today a reader, tomorrow a leader.
        </p>
        <button><a><i style="color: #fff;" class="fa-solid fa-chevron-down" aria-label="expand"></i></a></button>
    </div>
</header>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container books">
    <div class="row">


        <div *ngFor="let book of books" class="col-md-3 col-sm-4 col-xs-12 boxes">
            <a [routerLink] = '["/singleBook", book._id ]'>
                <div class="team-boxes">
                    <div class="team-thumb overlay-image view-overlay">
                        <img [src]="book.image" alt="Book Image">
                        <div class="clear">
                        </div>
                        <div class="mask team_quote">
                            <div class="port-zoom-link">
                                <p>
                                    <span class="accentcolor" style="font-weight:700; font-size:x-large;"><span style="font-weight: bold;">By: </span> <span *ngFor="let oneBook of book.author let isLast=last">
                                        {{oneBook.fullName}} <span *ngIf="!isLast">,</span> 
                                    </span>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="team-info">
                        <h2>{{book.title}}</h2>
                    </div>
            
                </div>
            </a>
        </div>

    <!-- Pagination -->
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item" [class.disabled]="currentPage === 1">
            <a class="page-link" tabindex="-1" aria-disabled="true" (click)="previousPage()">Previous</a>
          </li>
          <li class="page-item">
            <a class="page-link">{{ currentPage }} of {{ totalPages }}</a>
          </li>
          <li class="page-item" [class.disabled]="currentPage === totalPages">
            <a class="page-link" (click)="nextPage()">Next</a>
          </li>
        </ul>
    </nav>


</div>
