<header>
    <div class="overlay">
        <h1>Books</h1>
        <p>
            Today a reader, tomorrow a leader.
        </p>
        <button><a><i style="color: #fff;" class="fa-solid fa-chevron-down" aria-label="expand"></i></a></button>
    </div>
</header>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container authors">
    <div class="row">


        <div *ngFor="let book of books" class="col-md-3 col-sm-4 col-xs-12">
            <div class="team-boxes">
                <div class="team-thumb overlay-image view-overlay">
                    <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="">
                    <div class="clear">
                    </div>
                    <div class="mask team_quote">
                        <div class="port-zoom-link">
                            <p>
                                <span class="accentcolor" style="font-weight:700; font-size:x-large;">By : {{book.author[0].fullName}}</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="team-info">
                    <h2>{{book.description}}</h2>
                </div>
                <div class="separator">
                </div>
            </div>
        </div>

    <!-- Pagination -->
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav>
</div>
