<section class="vh-100" >
  <div class="container h-10 d-flex justify-content-center">
    <div class=" my-auto">
      <h1 class="display-1">Admin Panel</h1>
    </div>
  </div>
  <div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-md-8 col-lg-7 col-xl-6">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
          class="img-fluid" alt="Phone image">
      </div>
      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
        <form [formGroup]="loginForm" (ngSubmit)="submitLoginForm(loginForm)">
          <div>
            <label for="email">Email</label>
            <input formControlName="email" class="form-control" type="email" id="email">
            <div *ngIf="loginForm.get('email')?.errors !== null && loginForm.get('UserName')?.touched" class="alert my-2 alert-danger">
              <p *ngIf="loginForm.get('email')?.errors?.['required']" >email is required </p>
              <p *ngIf="loginForm.get('email')?.errors?.['minlength']">email is minLength 3</p>
              <p *ngIf="loginForm.get('email')?.errors?.['maxlength']" >UserName is maxLength 10</p>
            </div>
          </div>
          <div>
            <label for="password">password</label>
            <input formControlName="password" class="form-control" type="password" id="password">
            <div *ngIf="loginForm.get('password')?.errors !== null && loginForm.get('password')?.touched" class="alert my-2 alert-danger">
              <p *ngIf="loginForm.get('password')?.errors?.['required']" style="color: red;" >password is required </p>
             <p *ngIf="wrongData" style="color: red;">* Check your email/password and try again</p>

            </div>
          </div>

          <!-- Submit button -->
          <button [disabled]="loginForm.invalid" type="submit" class="btn btn-primary btn-lg btn-block">Log in</button>
        </form>
      </div>
    </div>
  </div>
</section>
