<div class="container holder">
    <div class="row">
        <div class="col-xs-4 col-md-2">
          <a class="titulo"  href="https://www.businessinformativos.com.br/AreaRestrita/Verinformativo/index2/MjAxOF8wOC8zNjMw">AGOSTO 2018</a>
          <a href="#"><div class="book"><img src="https://www.businessinformativos.com.br/minis/minigeradas/2018_08_3630.jpg" class="img-responsive "></div></a>
       	</div>
        <div class="col-xs-4 col-md-2">
          <a class="titulo"  href="https://www.businessinformativos.com.br/AreaRestrita/Verinformativo/index2/MjAxOF8wOC8zNjMw">JULHO 2018</a>
          <a href="#"><img src="https://www.businessinformativos.com.br/minis/minigeradas/2018_07_3630.jpg" class="img-responsive book"></a>
       	</div>
        <div class="col-xs-4 col-md-2">
          <a class="titulo"  href="https://www.businessinformativos.com.br/AreaRestrita/Verinformativo/index2/MjAxOF8wOC8zNjMw">JUNHO 2018</a>
          <a href="#"><img src="https://www.businessinformativos.com.br/minis/minigeradas/2018_06_3630.jpg" class="img-responsive book"></a>
       	</div>      
        <div class="col-xs-12 shelf hidden-md hidden-lg"></div>
        <div class="col-xs-4 col-md-2">
          <a class="titulo"  href="https://www.businessinformativos.com.br/AreaRestrita/Verinformativo/index2/MjAxOF8wOC8zNjMw">MAIO 2018</a>
          <a href=""><img src="https://www.businessinformativos.com.br/minis/minigeradas/2018_05_3630.jpg" class="img-responsive book"></a>
       	</div>
        <div class="col-xs-4 col-md-2">
          <a class="titulo"  href="https://www.businessinformativos.com.br/AreaRestrita/Verinformativo/index2/MjAxOF8wOC8zNjMw">AGOSTO 2018</a>
          <a href=""><img src="https://www.businessinformativos.com.br/minis/minigeradas/2018_04_3630.jpg" class="img-responsive book"></a>
       	</div>
        <div class="col-xs-4 col-md-2">
          <a class="titulo"  href="https://www.businessinformativos.com.br/AreaRestrita/Verinformativo/index2/MjAxOF8wOC8zNjMw">AGOSTO 2018</a>
          <a href=""><img src="https://www.businessinformativos.com.br/minis/minigeradas/2018_03_3630.jpg" class="img-responsive book"></a>
       	</div>  
        <div class="col-xs-12 shelf"></div>
        <div class="col-xs-4 col-md-2">
          <a class="titulo"  href="https://www.businessinformativos.com.br/AreaRestrita/Verinformativo/index2/MjAxOF8wOC8zNjMw">AGOSTO 2018</a>
          <a href=""><img src="https://www.businessinformativos.com.br/minis/minigeradas/2018_02_3630.jpg" class="img-responsive book"></a>
       	</div>
        <div class="col-xs-4 col-md-2">
          <a class="titulo"  href="https://www.businessinformativos.com.br/AreaRestrita/Verinformativo/index2/MjAxOF8wOC8zNjMw">AGOSTO 2018</a>
          <a href=""><img src="https://www.businessinformativos.com.br/minis/minigeradas/2018_01_3630.jpg" class="img-responsive book"></a>
       	</div>
        <div class="col-xs-4 col-md-2">
          <a class="titulo"  href="https://www.businessinformativos.com.br/AreaRestrita/Verinformativo/index2/MjAxOF8wOC8zNjMw">AGOSTO 2018</a>
          <a href=""><img src="https://www.businessinformativos.com.br/minis/minigeradas/2017_12_3630.jpg" class="img-responsive book"></a>
       	</div>  
        <div class="col-xs-12 shelf hidden-md hidden-lg"></div>
        <div class="col-xs-4 col-md-2">
          <a class="titulo"  href="https://www.businessinformativos.com.br/AreaRestrita/Verinformativo/index2/MjAxOF8wOC8zNjMw">AGOSTO 2018</a>
          <a href=""><img src="https://www.businessinformativos.com.br/minis/minigeradas/2017_11_3630.jpg" class="img-responsive book"></a>
       	</div>
        <div class="col-xs-4 col-md-2">
          <a class="titulo"  href="https://www.businessinformativos.com.br/AreaRestrita/Verinformativo/index2/MjAxOF8wOC8zNjMw">AGOSTO 2018</a>
          <a href=""><img src="https://www.businessinformativos.com.br/minis/minigeradas/2018_01_3630.jpg" class="img-responsive book"></a>
       	</div>
        <div class="col-xs-4 col-md-2">
          <a class="titulo"  href="https://www.businessinformativos.com.br/AreaRestrita/Verinformativo/index2/MjAxOF8wOC8zNjMw">AGOSTO 2018</a>
          <a href=""><img src="https://www.businessinformativos.com.br/minis/minigeradas/2018_02_3630.jpg" class="img-responsive book"></a>
       	</div>  
        <div class="col-xs-12 shelf"></div>
    </div>
</div> 
