<div class="container-fluid">
    <div class="row">


        <!-- Bookshelf -->
                <div class="row">

                    <div *ngFor="let oneBook of books; let i = index" [attr.data-index]="i" class="col-md-2" >

                        <div class="card" style="border-top-right-radius: 25px; border-top-left-radius: 25px;">
                            <img class="card-img-top" [src]= oneBook.bookId.image alt="Book cover">

                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <h4 class="card-title">{{oneBook.bookId.title}}</h4>
                                        <p class="card-text">
                                            <span style="font-weight: bold;">By: </span>
                                            <span *ngFor="let author of oneBook.bookId.author let isLast=last"> 
                                                {{author.fullName}} <span *ngIf="!isLast">,</span> 
                                            </span> 
                                        
                                        </p>


                                        <!-- Rating section -->
                                        <div class="rating">
                                            <span class="star" (click)="selectStar(1, i+1, oneBook)">
                                                <i class="fas fa-star"></i>
                                            </span>
                                            <span class="star" (click)="selectStar(2, i+1, oneBook)">
                                                <i class="fas fa-star"></i>
                                            </span>
                                            <span class="star" (click)="selectStar(3, i+1, oneBook)">
                                                <i class="fas fa-star"></i>
                                            </span>
                                            <span class="star" (click)="selectStar(4, i+1, oneBook)">
                                                <i class="fas fa-star"></i>
                                            </span>
                                            <span class="star" (click)="selectStar(5, i+1, oneBook)">
                                                <i class="fas fa-star"></i>
                                            </span>
                                        </div>



                                        <!-- End rating section -->
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="status"></label>
                                            <select class="form-control custom-dropdown" id="status" name="status" (change)="onDropdownChange(oneBook,$event, i)">
                                                <option value="progress" selected ><span style="font-weight:900;">Status</span ></option>
                                                <option  value="reading" >Read </option>
                                                <option value="to_read">To Read</option>
                                                <option value="read">Completed</option>
                                            </select>
                                        </div>
                                        <div id="parent-{{i}}" class="form-group mt-5 d-flex justify-content-center">
                                            <p id="item-{{i}}" class="status-text">{{ oneBook.book_status === 'to_read' ? 'To Read' : 
                                                oneBook.book_status === 'read'? 'Compleated':
                                                 'Reading'
                                            }}</p>
                                        </div>
                                        
                                    </div>
                                    <button (click)="deleteBook(oneBook)" class="remove-book">Remove Book</button>
                                    <div class="userRating">{{oneBook.rating}}x</div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- Pagination -->
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                      <li class="page-item" [class.disabled]="skip === 0">
                        <a class="page-link" tabindex="-1" aria-disabled="true" (click)="previousPage()">Previous</a>
                      </li>
                      <li class="page-item">
                        <a class="page-link" *ngIf="bookStatusSwitch">{{ currentPage }} of {{ totalPages }}</a> 
                        <a class="page-link" *ngIf="!bookStatusSwitch">{{ currentPage }} of {{ totalPages }}</a> 

                      </li>
                      <li class="page-item" [class.disabled]="currentPage === totalPages || !bookStatusSwitch">
                        <a class="page-link" (click)="nextPage()">Next</a>
                      </li>
                    </ul>
                  </nav>

    </div>
</div>