<div class="w-75 m-auto py-5">
  <div *ngIf="error" class="alert alert-danger">
    <p>{{ error | json }}</p>
  </div>
  <div class="modernForm" style="margin-left: 40px">
    <div class="imageSection">
      <div class="image">
        <img src="assets/registercover.jpg" alt="pexels-yuri-manei-2272854" />
      </div>
    </div>
    <div class="contactForm col-md-6">
      <h1>Registration Form</h1>
      <form
        [formGroup]="registerForm"
        (ngSubmit)="subbmitRegisterForm(registerForm)"
      >
        <div class="form-group">
          <label for="firstName">First Name</label>
          <input
            class="form-control"
            formControlName="firstName"
            type="text"
            id="firstName"
          />

          <div
            *ngIf="registerForm.get('firstName')?.errors !== null && registerForm.get('firstName')?.touched"
            class="alert my-4 alert-danger"
          >
            <p *ngIf="registerForm.get('firstName')?.errors?.['required']">
              First Name is required
            </p>
            <p *ngIf="registerForm.get('firstName')?.errors?.['minlength']">
              3 letters minimum length
            </p>
            <p *ngIf="registerForm.get('firstName')?.errors?.['maxlength']">
              30 letters maximum length
            </p>
          </div>
        </div>
        <div class="form-group">
          <label for="lastName">Last Name</label>
          <input
            class="form-control"
            formControlName="lastName"
            type="text"
            id="lastName"
          />

          <div
            *ngIf="
              registerForm.get('lastName')?.errors !== null &&
              registerForm.get('lastName')?.touched
            "
            class="alert my-4 alert-danger"
          >
            <p *ngIf="registerForm.get('lastName')?.errors?.['required']">
              Last Name is required
            </p>
            <p *ngIf="registerForm.get('lastName')?.errors?.['minlength']">
              3 letters minimum length
            </p>
            <p *ngIf="registerForm.get('lastName')?.errors?.['maxlength']">
              30 letters maximum length
            </p>
          </div>
        </div>
        <div class="form-group">
          <label for="userName">UserName</label>
          <input
            class="form-control"
            formControlName="userName"
            type="text"
            id="userName"
          />

          <div
            *ngIf="
              registerForm.get('userName')?.errors !== null &&
              registerForm.get('userName')?.touched
            "
            class="alert my-4 alert-danger"
          >
            <p *ngIf="registerForm.get('userName')?.errors?.['required']">
              UserName is required
            </p>
            <p *ngIf="registerForm.get('userName')?.errors?.['minlength']">
              5 letters minimum length
            </p>
            <p *ngIf="registerForm.get('userName')?.errors?.['maxlength']">
              30 letters maximum length
            </p>
          </div>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input
            class="form-control"
            formControlName="email"
            type="text"
            id="email"
          />

          <div
            *ngIf="
              registerForm.get('email')?.errors !== null &&
              registerForm.get('email')?.touched
            "
            class="alert my-4 alert-danger"
          >
            <p *ngIf="registerForm.get('email')?.errors?.['required']">
              Email is required
            </p>
            <p *ngIf="registerForm.get('email')?.errors?.['minlength']">
              3 letters minimum length
            </p>
            <p *ngIf="registerForm.get('email')?.errors?.['maxlength']">
              30 letters maximum length
            </p>
          </div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            class="form-control"
            formControlName="password"
            type="password"
            id="password"
          />

          <div
            *ngIf="
              registerForm.get('password')?.errors !== null && registerForm.get('email')?.touched"
            class="alert my-4 alert-danger"
          >
            <p *ngIf="registerForm.get('password')?.errors?.['required']">
              password is required
            </p>
            <p *ngIf="registerForm.get('password')?.errors?.['minlength']">
              3 letters minimum length
            </p>
            <p *ngIf="registerForm.get('password')?.errors?.['maxlength']">
              30 letters maximum length
            </p>
          </div>
        </div>
        <input
          [disabled]="registerForm['invalid']"
          type="submit"
          value="Register"
        />
      </form>
    </div>
  </div>
</div>
