<div class="container my-5">
  <div class="row">
    <div class="col-md-6">
      <img src="assets/registercover.jpg" class="img-fluid rounded">
    </div>
    <div class="col-md-6">
      <div class="text-container">
        <h1 class="mb-4">About Us</h1>
        <p class="mb-3">Welcome to our bookstore! We are a family-owned and operated business located in the heart of the city. Our passion for books started over a decade ago when we noticed a lack of independent bookstores in the area. We wanted to create a space where book lovers of all ages could come together to explore their favorite genres and discover new reads.</p>
        <p class="mb-3">Our store is home to a curated selection of books, ranging from classic literature to the latest bestsellers. We take pride in offering a diverse range of titles, including works from diverse authors and perspectives. Our friendly and knowledgeable staff is always happy to help you find your next favorite book or provide recommendations based on your interests.</p>
        <p>We are committed to supporting our local community and giving back whenever possible. We partner with local schools and libraries to promote literacy and provide access to books for children and families in need. We also work with local organizations to promote cultural and literary events in the area.</p>
      </div>
    </div>
  </div>
</div>