
<div class="container">
    <div class="profile">
        <div class="profile-header">
            <div class="profile-header-cover">
                <h1>{{category.name}}</h1>

            </div>
            <div class="profile-header-content">
                <ul class="profile-header-tab nav nav-tabs nav-tabs-v2">
                    <li class="nav-item" style="margin-top: 50px;">
                        <a class="nav-link active" data-toggle="tab">
                            <div  class="nav-field">Books</div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="profile-container">
            <div class="profile-content">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="tab-content p-0">
                            <div *ngIf="category" class="tab-pane fade active show" id="profile-books">

                                <div *ngFor="let book of category.Books">
                                    <section class="list-group">
                                        <div class="list-group-item d-flex align-items-center">
                                            <img [src]=[book.image] alt="" width="50px" class="rounded-sm ml-n2" />
                                            <div class="flex-fill pl-3 pr-3 content">
                                               
                                                <div style="margin-bottom: .5em;"> Name:  <a href="#" class="text-dark font-weight-600">{{book.title}}</a></div>
                                                    <div style="margin-bottom: .5em;" class="starrating risingstar d-flex justify-content-end flex-row-reverse">
                                                        <span>{{book.avgRating}}</span>
                                                        <input type="radio" id="star3" name="rating" class="checked" value="3" /><label for="star3" title="3 star"></label>        
                                                    </div>
                                                    Description:
                                                    <span> {{book.description}}</span>
                                                  
                                            </div>
                                            <div  *ngIf="isLogged"  class="dropdown">
                                                <button [disabled]="isClicked" [class.clicked]="isClicked" (click)="addBookToUserShelve(book._id)" class="btn first btn-primary" type="button" id="dropdownMenu2"  aria-expanded="false">
                                                        {{shelve_status}}
                                                </button>
                                                <!-- <button *ngIf="isChecked" class="btn second btn-primary" type="button" id="dropdownMenu2" data-bs-toggle="dropdown"  aria-expanded="false">
                                                    Added
                                                  </button> -->
                                            </div>
                                        </div>
                                    </section>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>