<header>
  <div class="logo">Admin<span>Dashboard</span></div>
</header>
<div class="nav-btn">Menu</div>
<div class="container">

  <div class="sidebar">
    <nav>
      <ul>
        <li [routerLink]="['/admin/books']"><a >Books</a></li>
        <li [routerLink]="['/admin/authors']"><a>Authors</a></li>
        <li [routerLink]="['/admin/categories']"><a>Categories</a></li>
      </ul>
    </nav>
  </div>

  <div class="main-content">
    <h1>Dashboard</h1>
    <p>Here you can stuff</p>
    <div class="panel-wrapper">
      <div class="panel-head">
        Books
      </div>
      <div class="panel-body">
        <a href=""> <span style="color: black; font-size: larger;"> <i class="fa-solid fa-square-plus"></i> Add Book  </span></a>
      </div>
    </div>
    <div class="panel-wrapper">
      <div class="panel-head">
        Authors
      </div>
      <div class="panel-body">
        <a href=""> <span style="color: black; font-size: larger;"> <i class="fa-solid fa-square-plus"></i> Add Author  </span></a>
      </div>
    </div>
    <div class="panel-wrapper">
      <div class="panel-head">
        Categories
      </div>
      <div class="panel-body">
        <a href=""> <span style="color: black; font-size: larger;"> <i class="fa-solid fa-square-plus"></i> Add Category  </span></a>
      </div>
    </div>
  </div>
</div>

