<header>
  <div class="logo">Admin<span>Dashboard</span></div>
</header>
<div class="nav-btn">Menu</div>
<div class="container">

  <div class="sidebar">
    <nav>
      <ul>
        <li [routerLink]="['/admin/books']"><a >Books</a></li>
        <li [routerLink]="['/admin/authors']"><a>Authors</a></li>
        <li [routerLink]="['/admin/categories']"><a>Categories</a></li>
      </ul>
    </nav>
  </div>

  <div class="main-content">
    <h1>Dashboard</h1>
    <p>Here you can stuff</p>
    <div class="panel-wrapper">
      <div class="panel-head">
        Books
      </div>
      <div class="panel-body">
        <div class="progress" role="progressbar" aria-label="Warning striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
          <div class="progress-bar progress-bar-striped bg-warning" style="width: 75%"></div>
        </div>
        <!-- <a href=""> <span style="color: black; font-size: larger;"> <i class="fa-solid fa-square-plus"></i> Add Book  </span></a> -->
      </div>
    </div>
    <div class="panel-wrapper">
      <div class="panel-head">
        Authors
        
      </div>
      <div class="panel-body">
        <div class="progress" role="progressbar" aria-label="Default striped example" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
          <div class="progress-bar progress-bar-striped" style="width: 50%"></div>
        </div>
        <!-- <a href=""> <span style="color: black; font-size: larger;"> <i class="fa-solid fa-square-plus"></i> Add Author  </span></a> -->
      </div>
    </div>
    <div class="panel-wrapper">
      <div class="panel-head">
        Categories
      </div>
      <div class="panel-body">
        <div class="progress">
          <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 55%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <!-- <a href=""> <span style="color: black; font-size: larger;"> <i class="fa-solid fa-square-plus"></i> Add Category  </span></a> -->
      </div>
    </div>
  </div>
</div>

