<header>
    <div class="overlay">
        <h1>Authors</h1>
        <p>
            Author writes a novel, poem, essay, etc.
        </p>
        <button><a><i style="color: #fff;" class="fa-solid fa-chevron-down"></i></a></button>
    </div>
</header>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container authors">
    <div class="row">
        <app-author class="col-md-3 col-sm-4 col-xs-12" *ngFor="let authorFromArray of authors" [author]="authorFromArray">
        </app-author>
    </div>

    <!-- Pagination -->
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item" [class.disabled]="currentPage === 1">
            <a class="page-link" tabindex="-1" aria-disabled="true" (click)="prevPage()">Previous</a>
          </li>
          <li class="page-item" *ngFor="let page of totalPagesArray">
            <a class="page-link" [class.active]="currentPage === page" (click)="goToPage(page)">{{ page }}</a>
          </li>
          <li class="page-item" [class.disabled]="currentPage === totalPages">
            <a class="page-link" (click)="nextPage()">Next</a>
          </li>
        </ul>
      </nav>
</div>
