<div class="container-fluid">
    <div class="row">

        <!-- Sidebar -->
        <div class="col-md-2">
            <app-shelve-sidebar></app-shelve-sidebar>
        </div>

        <!-- Bookshelf -->
        <div class="col-md-10">
            <h2>My Bookshelf</h2>
            <div class="bookshelf">

                    <app-shelve></app-shelve>
            </div>
        </div>

    <!-- Pagination -->
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item" >
            <a class="page-link" tabindex="-1" aria-disabled="true">Previous</a>
          </li>
          <li class="page-item">
            <a class="page-link">2</a>
          </li>
          <li class="page-item">
            <a class="page-link" >Next</a>
          </li>
        </ul>
      </nav>


    </div>
</div>