
<div class="container">
    <div class="profile">
        <div class="profile-header">
            <div class="profile-header-cover"></div>
            <div class="profile-header-content">
                <div class="profile-header-img">
                    <img [src]="book.image" alt="User image" />
                </div>

                <ul class="profile-header-tab nav nav-tabs nav-tabs-v2">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab">
                            <div class="nav-field">Reviews</div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>


        <div class="profile-container">
            <div class="profile-sidebar">

                <div class="dropdown">
                    <button (click)="addBookToUserShelve()" class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown"  aria-expanded="false">
                      Add to shelve
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                      <li><button class="dropdown-item" type="button">Read</button></li>
                      <li><button class="dropdown-item" type="button">Currently Reading</button></li>
                      <li><button class="dropdown-item" type="button">Want to read</button></li>
                    </ul>
                </div>

                <div class="starrating risingstar d-flex justify-content-end flex-row-reverse">
                    <span class="justify-content-end align-middle ml-2" >No. of ratings</span>

                    <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="5 star"></label>
                    <input type="radio" id="star4" name="rating"  value="4" /><label for="star4" title="4 star"></label>
                    <input type="radio" id="star3" name="rating" class="checked" value="3" /><label for="star3" title="3 star"></label>
                    <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="2 star"></label>
                    <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="1 star"></label>

                </div>

                <div class="desktop-sticky-top">
                    <h4>{{book.title}}</h4>
                    <div class="font-weight-600 mb-3 text-muted mt-n2"><span style="font-weight: bold;">By: </span> <span *ngFor="let author of book.author let isLast=last">
                        {{author.fullName}} <span *ngIf="!isLast">,</span>
                    </span></div>

                    <div class="font-weight-600 mb-3 text-muted mt-n2"><span style="font-weight: bold;">Category: </span> <span *ngFor="let category of book.category let isLast=last">
                        {{category.name}} <span *ngIf="!isLast">,</span>
                    </span>

                    </div>
                    <p>
                        {{book.description}}
                    </p>
                </div>
            </div>


            <div class="profile-content">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="tab-content p-0">
                            <div class="tab-pane fade active show" id="profile-books">

                              <div class="modal-body">
                                <form [formGroup]="addReviewForm" (ngSubmit)="addReview()">
                                  <input
                                    type="text"
                                    class="form-control mb-2"
                                    formControlName="content"
                                    placeholder="Review..."
                                  />
                                  <!-- <button class="btn btn-primary ma"  data-bs-dismiss="modal">Add Review</button> -->
                                  <button *ngIf="!formSubmitted" class="btn btn-primary ma" data-bs-dismiss="modal">Add Review</button>
                                  <button *ngIf="formSubmitted" class="btn btn-primary ma" disabled>Review Added</button>
                                </form>
                              </div>

                                <div *ngFor="let bookReview of bookReviews" class="list-group ">

                                    <!-- "https://bootdey.com/img/Content/avatar/avatar1.png" -->

                                    <div class="list-group-item d-flex align-items-center my-3" style = "border: 1px solid rgba(0, 0, 0, 0.2); ; border-radius: 20px;">
                                        <img [src]= bookReview.userId.image alt="User picture" width="50px" class="rounded-sm ml-n2" />
                                        <div class="flex-fill pl-3 pr-3 content">
                                            <div><a href="#" class="text-dark font-weight-600">{{bookReview.userId.userName}}</a></div>
                                            <p>{{bookReview.content}}</p>
                                        </div>
                                        <!-- <form [formGroup]="editReviewForm" (ngSubmit)="editReview()">
                                          <input
                                            type="text"
                                            class="form-control mb-2"
                                            formControlName="content"
                                            [(ngModel)]="currentReview.content"
                                            placeholder="Review..."
                                          />
                                          <button class="btn-primary ma" data-bs-dismiss="modal">Edit</button> -->
                                        <!-- </form> -->
                                        <!-- <form  (ngSubmit)="deleteReview()">

                                          <button class="btn btn-primary ma" data-bs-dismiss="modal">Delete</button>
                                        </form> -->
                                    </div>

                                </div>

                                <div class="text-center p-3">
                                    <a href="#" class="text-dark text-decoration-none">Show more <b class="caret"></b></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

