<footer class="bg-black">
    <div class="container py-3" style="color: #fff;">
      <div class="row py-4">
        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
            <a href="/" class="footer-brand mb-3">Book<b>nary</b></a>  
          <p class="font-italic text-muted">Booknary is a goodreads clone site for readers and book recommendations.<br></p>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
          <h6 class="text-uppercase font-weight-bold mb-4">Let's start</h6>
          <ul class="list-unstyled mb-0">
            <li class="mb-2"><a [routerLink]="['/books']" class="text-muted">Books</a></li>
            <li class="mb-2"><a [routerLink]="['/authors']" class="text-muted">Authors</a></li>
            <li class="mb-2"><a [routerLink]="['/categories']" class="text-muted">Categories</a></li>
            <li class="mb-2"><a [routerLink]="['/about-us']" class="text-muted">About us</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 mb-lg-0">
          <h6 class="text-uppercase font-weight-bold mb-4">Newsletter</h6>
          <p class="text-muted mb-4">A great book should leave you with many experiences, and slightly exhausted at the end. You live several lives while reading.</p>

        </div>
      </div>
    </div>

    <!-- Copyrights -->
    <div class="bg-light py-2">
      <div class="container text-center">
        <p class="text-muted mb-0 py-2">© 2023 Booknary All rights reserved.</p>
      </div>
    </div>
  </footer>