<div *ngIf="error" class="alert alert-danger">
  {{ error }}
</div>
<div *ngIf="!error">
  <div class="container mt-2">
    <div class="row">
      <div *ngFor="let book of books" class="col-md-3 col-sm-3 item">
        <div class="card item-card card-block">
          <h4 class="card-title text-right"><i class="material-icons">book</i></h4>
          <img [src]="book.image" alt="Photo of {{ book.title }}">
          <h5 class="item-card-title mt-3 mb-3">{{ book.title }}</h5>
          <p class="card-text">{{ book.description }}</p>
          <p class="card-text"><small class="text-muted">{{ book.author }}</small></p>
          <p class="card-text"><small class="text-muted">Category: {{ book.category }}</small></p>
          <p class="card-text"><small class="text-muted">Author: {{ book.author }}</small></p>

        </div>
      </div>
    </div>
  </div>
</div>
