    <div class="team-boxes" (click)="navigateToDetails()">
        <div class="team-thumb overlay-image view-overlay">
            <img [src]=[author.image] width="200" height="200" alt="">
            <div class="clear">
            </div>
            <div class="mask team_quote">
                <div class="port-zoom-link">
                    <p>
                        <span class="accentcolor" style="font-weight:700;">Number Of Books</span>
                        <br><br>
                        <i><span>{{author.bookId.length}}</span> Books</i>
                    </p>
                </div>
            </div>
        </div>
        <div class="team-info">
            <h2>{{author.fullName}}</h2>
            <p>
                Date Of Birth: {{author.DOB.substring(0, 10)}} 
            </p>
        </div>
        <div class="separator">
        </div>
</div>
