<section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="assets/user/login.jpg"
            class="img-fluid" alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <form #Form="ngForm" (ngSubmit)="onSubmit(Form)">
            <!-- Email input -->
            <div class="form-outline mb-4">
              <input type="email" id="form3Example3" class="form-control form-control-lg"
                placeholder="Email"
                aria-describedby="emailHelp"
                id="Email" 
                [(ngModel)]= "email"
                name="email" 
                required
                />
                
            </div>
  
            <!-- Password input -->
            <div class="form-outline mb-3">
              <input type="password" class="form-control form-control-lg"
                placeholder="password" 
                aria-describedby="emailHelp"
                id="passsword" 
                [(ngModel)]= "password"
                name="passsword" 
              require
                />
            </div>
            <p *ngIf="isCorrect" style="color: red;">* Check your email/password and try again</p>
            <div class="d-flex justify-content-between align-items-center">
              <!-- Checkbox -->
              <div class="form-check mb-0">
                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                <label class="form-check-label" for="form2Example3">
                  Remember me
                </label>
              </div>
              <a href="#!" class="text-body">Forgot password?</a>
            </div>
  
            <div class="text-center text-lg-start mt-4 pt-2">
              <button type="submit" class="btn submit-btn btn-lg"
                style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
              <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a [routerLink]="['/register']"
                  class="link-danger">Register</a></p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>