
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a [routerLink]="['/']" class="navbar-brand">Book<b>nary</b></a>  		
	<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
		<span class="navbar-toggler-icon"></span>
	</button>
	<!-- Collection of nav links, forms, and other content for toggling -->
	<div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
		<div class="navbar-nav">
			<a class="nav-item nav-link active" [routerLink]="['/']">Home</a>
			<a  class="nav-item nav-link" [routerLink]="['/books']">Books</a>	
			<a *ngIf="isLogged" class="nav-item nav-link" [routerLink]="['/']">My books</a>		
			<a class="nav-item nav-link" [routerLink]="['/authors']">Authors</a>
			<a class="nav-item nav-link" [routerLink]="['/categories']">Categories</a>
			<a class="nav-item nav-link" [routerLink]="['/about-us']">About us</a>
        </div>
		<form class="navbar-form form-inline">
			<div class="input-group search-box">								
				<input type="text" id="search" class="form-control" placeholder="Search here...">
				<div class="input-group-append">
					<span class="input-group-text"><i class="material-icons">&#xE8B6;</i></span>
				</div>
			</div>
		</form>
		<div *ngIf="isLogged" class="logedin action-buttons ml-auto">
			<div class="proile-image">
				<img width="50" height="50" [src]= "userImage">
			</div>
			<div (click)="logOut()" class="button logout">
				<a href="">
				  <img src="https://assets.codepen.io/9277864/logout.svg" alt="Logout Icon" width="28" height="30" />
				  <span>Logout</span>
				</a>
			</div>

		</div>
		<div *ngIf="!isLogged" class="navbar-nav action-buttons ml-auto">
			<a data-toggle="dropdown" class="login-btn nav-item nav-link dropdown-toggle mr-3">Login</a>
			<div class="dropdown-menu login-form">
				<form #Form="ngForm" (ngSubmit)="onSubmit(Form)">
					<div class="form-group">
						<label>Email</label>
						<input type="email" id="form3Example3" class="form-control form-control-lg"
							placeholder="Email"
							aria-describedby="emailHelp"
							id="Email" 
							[(ngModel)]= "email"
							name="email" 
							required
							/>
					</div>
					<div class="form-group">
						<div class="clearfix">
							<label>Password</label>
							<a href="#" class="float-right text-muted"><small>Forgot?</small></a>
						</div>                            
						<input  type="password" class="form-control form-control-lg"
								placeholder="password" 
								aria-describedby="emailHelp"
								id="password" 
								[(ngModel)]= "password"
								name="password" 
								require/>
					</div>
           			 <p *ngIf="wrongData" style="color: red;">* Check your email/password and try again</p>

					<input type="submit" class="btn btn-primary btn-block" value="Login">
				</form>					
			</div>			
			<a [routerLink]="['/register']" class="btn btn-primary">Get Started</a>
		</div>
	</div>
</nav>
